.navbar {
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #eee;
  position: fixed;
  left: 0;
  z-index: 1000;


  @include desktop {
    width: $navbar-desktop-width;
    padding: 20px;
  }

  @include non-desktop {
    width: $navbar-mobile-width;
  }

}

.navbar-text {
  display: inline-block;
  margin: none;
  @include non-desktop {
    display: none;
  }
  .navbar-text-margin-left {
    margin-left: 10px;
  }
}

.navbar-placeholder {
  height: 43px;
}

.navbar-container {
  max-width: 1000px;
  margin: auto;
  display: block;
}

.navbar-cell {
  display: block;
  width: 100%;
  font-weight: 800;
  font-size: 1.4em;
  color: #333;
  padding: 12px 10px;
  margin: 0;
  border-radius: 9999px;
  &:hover {
    text-decoration: none;
    background-color:#eee;
    color: $color-link-hover;
  }
}
