.navbar {
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #eee;
  position: fixed;
  left: 0;
  z-index: 1000;
  padding-top: 20px;

  @include desktop {
    width: calc(50% - 400px);
    min-width: $navbar-desktop-width;
  }

  @include non-desktop {
    width: calc(50% - 400px);
    min-width: $navbar-mobile-width;
  }

}

.navbar-container {
  margin: auto;
  display: block;
  position: absolute;
  right: 0;

  @include desktop {
    width: $navbar-desktop-width;
    padding: 20px;
  }

  @include non-desktop {
    width: $navbar-mobile-width;
    padding: 20px 0;
  }

}

.navbar-name {
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  padding: 0 10px;

}

.navbar-text {
  display: inline-block;
  margin: none;
  .navbar-text-margin-left {
    margin-left: 10px;
    @include non-desktop {
      display: none;
    }
  }
}

.navbar-fa {
  margin: 0 10px;
  width: 20px;
  // @include non-desktop {
  //   margin: 20px;
  // }
}

.navbar-cell {
  display: block;
  width: 100%;
  font-weight: 800;
  font-size: 1.4em;
  color: #333;
  padding: 12px 10px;
  margin: 0;
  border-radius: 9999px;
  &:hover {
    text-decoration: none;
    background-color:#eee;
    color: $color-link-hover;
  }

  @include non-desktop {
    border-radius: 0;
  }
}

.navbar-cell-bottom {
  margin-top: 60px;
}

