.story-input-container {
  width: 100%;
  height: 300px;
  position: relative;
}

.story-input-overlay {
  text-align: center;
  vertical-align: center;
  width: 100%;
  margin-top: 15%;
  position: absolute;
  font-size: 1.8rem;
}

.story-input {
  font-family: $font-family-serif;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  border: none;
  border-radius: 2px;
  // background-color: #FFFEF2;
  background-color: white;
  border: 1px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}


.story-prompt {
  font-family: $font-family-serif;
  font-size: 2rem;
  // font-weight: 800;
  font-style: italic;
}

.story-timer {
  text-align: right;
  font-size: 2rem;
}

.story-feed-heading {
  font-size: 2.5rem;
  font-style: italic;
  margin: 20px 0;
}

.story-feed-text {
  font-family: $font-family-serif;
  font-size: 2rem;
  margin: 30px 10px;
}

.story-feed-portrait {
  height: 5rem;
  width: 5rem;
  background-color: grey;
  display: inline-block;
  border-radius: 50%;
}

.story-feed-byline {
  height: 5rem;
  font-size: 1.5rem;
  margin: 0.5rem 1.5rem;
  display: inline-block;
  vertical-align: top;
}

.story-feed-publish-date {
  font-style: italic;
}